-- MySQL dump 10.13  Distrib 8.0.41, for Linux (x86_64)
--
-- Host: localhost    Database: rentabilidad
-- ------------------------------------------------------
-- Server version	8.0.41

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `Analisis_Portafolio`
--

DROP TABLE IF EXISTS `Analisis_Portafolio`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Analisis_Portafolio` (
  `ID` int NOT NULL AUTO_INCREMENT,
  `Portafolio_ID` int NOT NULL,
  `Fecha` date NOT NULL,
  `ROI` decimal(5,2) NOT NULL,
  `Rentabilidad_Anualizada` decimal(5,2) NOT NULL,
  `Ratio_Sharpe` decimal(5,2) NOT NULL,
  PRIMARY KEY (`ID`),
  KEY `Portafolio_ID` (`Portafolio_ID`),
  CONSTRAINT `Analisis_Portafolio_ibfk_1` FOREIGN KEY (`Portafolio_ID`) REFERENCES `Portafolios` (`ID`)
) ENGINE=InnoDB AUTO_INCREMENT=102 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Analisis_Portafolio`
--

LOCK TABLES `Analisis_Portafolio` WRITE;
/*!40000 ALTER TABLE `Analisis_Portafolio` DISABLE KEYS */;
/*!40000 ALTER TABLE `Analisis_Portafolio` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Categorias_Activos`
--

DROP TABLE IF EXISTS `Categorias_Activos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Categorias_Activos` (
  `ID` int NOT NULL AUTO_INCREMENT,
  `Nombre` varchar(50) NOT NULL,
  PRIMARY KEY (`ID`),
  UNIQUE KEY `Nombre` (`Nombre`)
) ENGINE=InnoDB AUTO_INCREMENT=34 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Categorias_Activos`
--

LOCK TABLES `Categorias_Activos` WRITE;
/*!40000 ALTER TABLE `Categorias_Activos` DISABLE KEYS */;
/*!40000 ALTER TABLE `Categorias_Activos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Diversificacion`
--

DROP TABLE IF EXISTS `Diversificacion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Diversificacion` (
  `ID` int NOT NULL AUTO_INCREMENT,
  `Portafolio_ID` int NOT NULL,
  `Inversion_ID` int NOT NULL,
  `Porcentaje_Asignado` decimal(5,2) NOT NULL,
  PRIMARY KEY (`ID`),
  KEY `Portafolio_ID` (`Portafolio_ID`),
  KEY `Inversion_ID` (`Inversion_ID`),
  CONSTRAINT `Diversificacion_ibfk_1` FOREIGN KEY (`Portafolio_ID`) REFERENCES `Portafolios` (`ID`),
  CONSTRAINT `Diversificacion_ibfk_2` FOREIGN KEY (`Inversion_ID`) REFERENCES `Inversiones` (`ID`)
) ENGINE=InnoDB AUTO_INCREMENT=394 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Diversificacion`
--

LOCK TABLES `Diversificacion` WRITE;
/*!40000 ALTER TABLE `Diversificacion` DISABLE KEYS */;
/*!40000 ALTER TABLE `Diversificacion` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Gastos_Inversion`
--

DROP TABLE IF EXISTS `Gastos_Inversion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Gastos_Inversion` (
  `ID` int NOT NULL AUTO_INCREMENT,
  `Inversion_ID` int NOT NULL,
  `Tipo_Gasto_ID` int NOT NULL,
  `Monto` decimal(15,2) NOT NULL,
  `Fecha` date NOT NULL,
  PRIMARY KEY (`ID`),
  KEY `Inversion_ID` (`Inversion_ID`),
  KEY `Tipo_Gasto_ID` (`Tipo_Gasto_ID`),
  KEY `idx_gastos_inversion` (`Inversion_ID`),
  CONSTRAINT `Gastos_Inversion_ibfk_1` FOREIGN KEY (`Inversion_ID`) REFERENCES `Inversiones` (`ID`),
  CONSTRAINT `Gastos_Inversion_ibfk_2` FOREIGN KEY (`Tipo_Gasto_ID`) REFERENCES `Tipos_Gasto` (`ID`),
  CONSTRAINT `Gastos_Inversion_chk_1` CHECK ((`Monto` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=501 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Gastos_Inversion`
--

LOCK TABLES `Gastos_Inversion` WRITE;
/*!40000 ALTER TABLE `Gastos_Inversion` DISABLE KEYS */;
/*!40000 ALTER TABLE `Gastos_Inversion` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Historico_Gastos`
--

DROP TABLE IF EXISTS `Historico_Gastos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Historico_Gastos` (
  `ID` int NOT NULL AUTO_INCREMENT,
  `Inversion_ID` int NOT NULL,
  `Fecha` date NOT NULL,
  `Tipo_Gasto_ID` int NOT NULL,
  `Monto` decimal(15,2) NOT NULL,
  PRIMARY KEY (`ID`),
  KEY `Inversion_ID` (`Inversion_ID`),
  KEY `Tipo_Gasto_ID` (`Tipo_Gasto_ID`),
  KEY `idx_historicos_gastos` (`Inversion_ID`),
  CONSTRAINT `Historico_Gastos_ibfk_1` FOREIGN KEY (`Inversion_ID`) REFERENCES `Inversiones` (`ID`),
  CONSTRAINT `Historico_Gastos_ibfk_2` FOREIGN KEY (`Tipo_Gasto_ID`) REFERENCES `Tipos_Gasto` (`ID`),
  CONSTRAINT `Historico_Gastos_chk_1` CHECK ((`Monto` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=1023 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Historico_Gastos`
--

LOCK TABLES `Historico_Gastos` WRITE;
/*!40000 ALTER TABLE `Historico_Gastos` DISABLE KEYS */;
/*!40000 ALTER TABLE `Historico_Gastos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Historico_Mercado`
--

DROP TABLE IF EXISTS `Historico_Mercado`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Historico_Mercado` (
  `ID` int NOT NULL AUTO_INCREMENT,
  `Fecha` date NOT NULL,
  `Indice_Mercado` decimal(10,2) NOT NULL,
  `Volatilidad` decimal(5,2) NOT NULL,
  `Tipo_Indice` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`ID`),
  CONSTRAINT `Historico_Mercado_chk_1` CHECK ((`Volatilidad` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=3958 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Historico_Mercado`
--

LOCK TABLES `Historico_Mercado` WRITE;
/*!40000 ALTER TABLE `Historico_Mercado` DISABLE KEYS */;
/*!40000 ALTER TABLE `Historico_Mercado` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Inversiones`
--

DROP TABLE IF EXISTS `Inversiones`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Inversiones` (
  `ID` int NOT NULL AUTO_INCREMENT,
  `Nombre` varchar(100) NOT NULL,
  `Tipo_ID` int NOT NULL,
  `Fecha_Inicio` date NOT NULL,
  `Monto_Inicial` decimal(15,2) NOT NULL,
  `Riesgo_ID` int NOT NULL,
  `Usuario_ID` int NOT NULL,
  `Descripcion` text,
  `Moneda_ID` int DEFAULT NULL,
  `Categoria_ID` int DEFAULT NULL,
  PRIMARY KEY (`ID`),
  KEY `Tipo_ID` (`Tipo_ID`),
  KEY `Riesgo_ID` (`Riesgo_ID`),
  KEY `Usuario_ID` (`Usuario_ID`),
  KEY `Moneda_ID` (`Moneda_ID`),
  KEY `Categoria_ID` (`Categoria_ID`),
  CONSTRAINT `Inversiones_ibfk_1` FOREIGN KEY (`Tipo_ID`) REFERENCES `Tipos_Inversion` (`ID`),
  CONSTRAINT `Inversiones_ibfk_2` FOREIGN KEY (`Riesgo_ID`) REFERENCES `Tipos_Riesgo` (`ID`),
  CONSTRAINT `Inversiones_ibfk_3` FOREIGN KEY (`Usuario_ID`) REFERENCES `Usuarios` (`ID`),
  CONSTRAINT `Inversiones_ibfk_4` FOREIGN KEY (`Moneda_ID`) REFERENCES `Monedas` (`ID`),
  CONSTRAINT `Inversiones_ibfk_5` FOREIGN KEY (`Categoria_ID`) REFERENCES `Categorias_Activos` (`ID`),
  CONSTRAINT `Inversiones_chk_1` CHECK ((`Monto_Inicial` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=128 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Inversiones`
--

LOCK TABLES `Inversiones` WRITE;
/*!40000 ALTER TABLE `Inversiones` DISABLE KEYS */;
/*!40000 ALTER TABLE `Inversiones` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Temporary view structure for view `kpi_costos_inversiones`
--

DROP TABLE IF EXISTS `kpi_costos_inversiones`;
/*!50001 DROP VIEW IF EXISTS `kpi_costos_inversiones`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `kpi_costos_inversiones` AS SELECT 
 1 AS `Inversion_ID`,
 1 AS `Nombre_Inversion`,
 1 AS `Total_Costo_USD`,
 1 AS `Cantidad_Gastos`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `kpi_rentabilidad_promedio_inversiones`
--

DROP TABLE IF EXISTS `kpi_rentabilidad_promedio_inversiones`;
/*!50001 DROP VIEW IF EXISTS `kpi_rentabilidad_promedio_inversiones`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `kpi_rentabilidad_promedio_inversiones` AS SELECT 
 1 AS `Inversion_ID`,
 1 AS `Nombre`,
 1 AS `AVG(r.Rendimiento_Porcentual)`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `kpi_riesgo_portafolio`
--

DROP TABLE IF EXISTS `kpi_riesgo_portafolio`;
/*!50001 DROP VIEW IF EXISTS `kpi_riesgo_portafolio`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `kpi_riesgo_portafolio` AS SELECT 
 1 AS `Portafolio_ID`,
 1 AS `Nombre_Portafolio`,
 1 AS `Inversion_ID`,
 1 AS `Peso_Inversion`,
 1 AS `Riesgo_Contribuido`,
 1 AS `Volatilidad_Portafolio`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `kpi_roi_por_inversion`
--

DROP TABLE IF EXISTS `kpi_roi_por_inversion`;
/*!50001 DROP VIEW IF EXISTS `kpi_roi_por_inversion`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `kpi_roi_por_inversion` AS SELECT 
 1 AS `Inversion_ID`,
 1 AS `Nombre`,
 1 AS `TOTAL BENEFICIO NETO POR INVERSION (USD)`,
 1 AS `TOTAL DE INVERSION POR INVERSION (USD)`,
 1 AS `ROI %`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `kpi_volatilidad_mercado`
--

DROP TABLE IF EXISTS `kpi_volatilidad_mercado`;
/*!50001 DROP VIEW IF EXISTS `kpi_volatilidad_mercado`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `kpi_volatilidad_mercado` AS SELECT 
 1 AS `Fecha`,
 1 AS `Tipo_Indice`,
 1 AS `Volatilidad_Media`,
 1 AS `ROI_Promedio`,
 1 AS `Correlacion`,
 1 AS `Ratio_Sharpe`*/;
SET character_set_client = @saved_cs_client;

--
-- Table structure for table `Mercado`
--

DROP TABLE IF EXISTS `Mercado`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Mercado` (
  `ID` int NOT NULL AUTO_INCREMENT,
  `Fecha` date NOT NULL,
  `Indice_Mercado` decimal(10,2) NOT NULL,
  `Volatilidad` decimal(5,2) NOT NULL,
  `Tipo_Indice` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`ID`),
  CONSTRAINT `Mercado_chk_1` CHECK ((`Volatilidad` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=366 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Mercado`
--

LOCK TABLES `Mercado` WRITE;
/*!40000 ALTER TABLE `Mercado` DISABLE KEYS */;
/*!40000 ALTER TABLE `Mercado` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Monedas`
--

DROP TABLE IF EXISTS `Monedas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Monedas` (
  `ID` int NOT NULL AUTO_INCREMENT,
  `Codigo` char(3) NOT NULL,
  `Nombre` varchar(50) NOT NULL,
  PRIMARY KEY (`ID`),
  UNIQUE KEY `Codigo` (`Codigo`)
) ENGINE=InnoDB AUTO_INCREMENT=31 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Monedas`
--

LOCK TABLES `Monedas` WRITE;
/*!40000 ALTER TABLE `Monedas` DISABLE KEYS */;
/*!40000 ALTER TABLE `Monedas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Portafolios`
--

DROP TABLE IF EXISTS `Portafolios`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Portafolios` (
  `ID` int NOT NULL AUTO_INCREMENT,
  `Usuario_ID` int NOT NULL,
  `Nombre` varchar(100) NOT NULL,
  `Descripcion` text,
  `Fecha_Creacion` date NOT NULL,
  PRIMARY KEY (`ID`),
  KEY `Usuario_ID` (`Usuario_ID`),
  CONSTRAINT `Portafolios_ibfk_1` FOREIGN KEY (`Usuario_ID`) REFERENCES `Usuarios` (`ID`)
) ENGINE=InnoDB AUTO_INCREMENT=105 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Portafolios`
--

LOCK TABLES `Portafolios` WRITE;
/*!40000 ALTER TABLE `Portafolios` DISABLE KEYS */;
/*!40000 ALTER TABLE `Portafolios` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Rendimientos`
--

DROP TABLE IF EXISTS `Rendimientos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Rendimientos` (
  `ID` int NOT NULL AUTO_INCREMENT,
  `Inversion_ID` int NOT NULL,
  `Fecha` date NOT NULL,
  `Rendimiento_Porcentual` decimal(5,2) NOT NULL,
  `Rendimiento_Monetario` decimal(15,2) NOT NULL,
  PRIMARY KEY (`ID`),
  KEY `Inversion_ID` (`Inversion_ID`),
  CONSTRAINT `Rendimientos_ibfk_1` FOREIGN KEY (`Inversion_ID`) REFERENCES `Inversiones` (`ID`)
) ENGINE=InnoDB AUTO_INCREMENT=251 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Rendimientos`
--

LOCK TABLES `Rendimientos` WRITE;
/*!40000 ALTER TABLE `Rendimientos` DISABLE KEYS */;
/*!40000 ALTER TABLE `Rendimientos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Reportes_Riesgo`
--

DROP TABLE IF EXISTS `Reportes_Riesgo`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Reportes_Riesgo` (
  `ID` int NOT NULL AUTO_INCREMENT,
  `Portafolio_ID` int NOT NULL,
  `Fecha` date NOT NULL,
  `Volatilidad` decimal(5,2) NOT NULL,
  `Riesgo_Total` decimal(5,2) NOT NULL,
  PRIMARY KEY (`ID`),
  KEY `Portafolio_ID` (`Portafolio_ID`),
  CONSTRAINT `Reportes_Riesgo_ibfk_1` FOREIGN KEY (`Portafolio_ID`) REFERENCES `Portafolios` (`ID`)
) ENGINE=InnoDB AUTO_INCREMENT=51 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Reportes_Riesgo`
--

LOCK TABLES `Reportes_Riesgo` WRITE;
/*!40000 ALTER TABLE `Reportes_Riesgo` DISABLE KEYS */;
/*!40000 ALTER TABLE `Reportes_Riesgo` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Tasas_cambio`
--

DROP TABLE IF EXISTS `Tasas_cambio`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Tasas_cambio` (
  `ID` int NOT NULL AUTO_INCREMENT,
  `Moneda_ID` int NOT NULL,
  `Tasa` decimal(15,6) NOT NULL,
  PRIMARY KEY (`ID`),
  KEY `Moneda_ID` (`Moneda_ID`),
  CONSTRAINT `tasas_cambio_ibfk_1` FOREIGN KEY (`Moneda_ID`) REFERENCES `Monedas` (`ID`)
) ENGINE=InnoDB AUTO_INCREMENT=31 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Tasas_cambio`
--

LOCK TABLES `Tasas_cambio` WRITE;
/*!40000 ALTER TABLE `Tasas_cambio` DISABLE KEYS */;
INSERT INTO `Tasas_cambio` VALUES (1,1,1.000000),(2,2,1.070000),(3,3,1.220000),(4,4,0.007500),(5,5,0.650000),(6,6,0.730000),(7,7,1.100000),(8,8,0.140000),(9,9,0.090000),(10,10,0.095000),(11,11,0.140000),(12,12,0.740000),(13,13,0.130000),(14,14,0.000750),(15,15,0.012000),(16,16,0.050000),(17,17,0.002900),(18,18,0.190000),(19,19,0.001100),(20,20,0.000240),(21,21,0.260000),(22,22,0.045000),(23,23,0.054000),(24,24,0.011000),(25,25,0.000066),(26,26,0.220000),(27,27,0.028000),(28,28,0.017000),(29,29,0.000043),(30,30,0.032000);
/*!40000 ALTER TABLE `Tasas_cambio` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Tipos_Gasto`
--

DROP TABLE IF EXISTS `Tipos_Gasto`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Tipos_Gasto` (
  `ID` int NOT NULL AUTO_INCREMENT,
  `Nombre` varchar(50) NOT NULL,
  `Descripcion` text,
  PRIMARY KEY (`ID`),
  UNIQUE KEY `Nombre` (`Nombre`)
) ENGINE=InnoDB AUTO_INCREMENT=22 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Tipos_Gasto`
--

LOCK TABLES `Tipos_Gasto` WRITE;
/*!40000 ALTER TABLE `Tipos_Gasto` DISABLE KEYS */;
/*!40000 ALTER TABLE `Tipos_Gasto` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Tipos_Inversion`
--

DROP TABLE IF EXISTS `Tipos_Inversion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Tipos_Inversion` (
  `ID` int NOT NULL AUTO_INCREMENT,
  `Nombre` varchar(50) NOT NULL,
  PRIMARY KEY (`ID`),
  UNIQUE KEY `Nombre` (`Nombre`)
) ENGINE=InnoDB AUTO_INCREMENT=61 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Tipos_Inversion`
--

LOCK TABLES `Tipos_Inversion` WRITE;
/*!40000 ALTER TABLE `Tipos_Inversion` DISABLE KEYS */;
/*!40000 ALTER TABLE `Tipos_Inversion` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Tipos_Riesgo`
--

DROP TABLE IF EXISTS `Tipos_Riesgo`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Tipos_Riesgo` (
  `ID` int NOT NULL AUTO_INCREMENT,
  `Nivel` varchar(20) NOT NULL,
  PRIMARY KEY (`ID`),
  UNIQUE KEY `Nivel` (`Nivel`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Tipos_Riesgo`
--

LOCK TABLES `Tipos_Riesgo` WRITE;
/*!40000 ALTER TABLE `Tipos_Riesgo` DISABLE KEYS */;
INSERT INTO `Tipos_Riesgo` VALUES (3,'Alto'),(1,'Bajo'),(2,'Moderado'),(4,'Muy Alto');
/*!40000 ALTER TABLE `Tipos_Riesgo` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Usuarios`
--

DROP TABLE IF EXISTS `Usuarios`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Usuarios` (
  `ID` int NOT NULL AUTO_INCREMENT,
  `Nombre` varchar(100) NOT NULL,
  `Email` varchar(100) NOT NULL,
  `Fecha_Registro` date NOT NULL,
  PRIMARY KEY (`ID`),
  UNIQUE KEY `Email` (`Email`)
) ENGINE=InnoDB AUTO_INCREMENT=51 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Usuarios`
--

LOCK TABLES `Usuarios` WRITE;
/*!40000 ALTER TABLE `Usuarios` DISABLE KEYS */;
/*!40000 ALTER TABLE `Usuarios` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Final view structure for view `kpi_costos_inversiones`
--

/*!50001 DROP VIEW IF EXISTS `kpi_costos_inversiones`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_0900_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`%` SQL SECURITY DEFINER */
/*!50001 VIEW `kpi_costos_inversiones` AS select `i`.`ID` AS `Inversion_ID`,`i`.`Nombre` AS `Nombre_Inversion`,round(sum((`g`.`Monto` * `tc`.`Tasa`)),2) AS `Total_Costo_USD`,count(`g`.`ID`) AS `Cantidad_Gastos` from (((select `gastos_inversion`.`Inversion_ID` AS `Inversion_ID`,`gastos_inversion`.`Monto` AS `Monto`,`gastos_inversion`.`ID` AS `ID` from `gastos_inversion` union all select `historico_gastos`.`Inversion_ID` AS `Inversion_ID`,`historico_gastos`.`Monto` AS `Monto`,`historico_gastos`.`ID` AS `ID` from `historico_gastos`) `g` join `inversiones` `i` on((`g`.`Inversion_ID` = `i`.`ID`))) join `tasas_cambio` `tc` on((`i`.`Moneda_ID` = `tc`.`Moneda_ID`))) group by `i`.`ID`,`i`.`Nombre` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `kpi_rentabilidad_promedio_inversiones`
--

/*!50001 DROP VIEW IF EXISTS `kpi_rentabilidad_promedio_inversiones`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_0900_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`%` SQL SECURITY DEFINER */
/*!50001 VIEW `kpi_rentabilidad_promedio_inversiones` AS select `r`.`Inversion_ID` AS `Inversion_ID`,`i`.`Nombre` AS `Nombre`,avg(`r`.`Rendimiento_Porcentual`) AS `AVG(r.Rendimiento_Porcentual)` from ((`rendimientos` `r` join `inversiones` `i` on((`r`.`Inversion_ID` = `i`.`ID`))) join `tasas_cambio` `tc` on((`i`.`Moneda_ID` = `tc`.`Moneda_ID`))) group by `r`.`Inversion_ID` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `kpi_riesgo_portafolio`
--

/*!50001 DROP VIEW IF EXISTS `kpi_riesgo_portafolio`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_0900_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`%` SQL SECURITY DEFINER */
/*!50001 VIEW `kpi_riesgo_portafolio` AS with `ultimo_reporte` as (select `reportes_riesgo`.`Portafolio_ID` AS `Portafolio_ID`,max(`reportes_riesgo`.`Fecha`) AS `Ultima_Fecha` from `reportes_riesgo` group by `reportes_riesgo`.`Portafolio_ID`) select `p`.`ID` AS `Portafolio_ID`,`p`.`Nombre` AS `Nombre_Portafolio`,`d`.`Inversion_ID` AS `Inversion_ID`,`d`.`Porcentaje_Asignado` AS `Peso_Inversion`,((`rr`.`Riesgo_Total` * `d`.`Porcentaje_Asignado`) / 100) AS `Riesgo_Contribuido`,`rr`.`Volatilidad` AS `Volatilidad_Portafolio` from (((`portafolios` `p` join `diversificacion` `d` on((`p`.`ID` = `d`.`Portafolio_ID`))) join `ultimo_reporte` `ur` on((`p`.`ID` = `ur`.`Portafolio_ID`))) join `reportes_riesgo` `rr` on(((`ur`.`Portafolio_ID` = `rr`.`Portafolio_ID`) and (`ur`.`Ultima_Fecha` = `rr`.`Fecha`)))) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `kpi_roi_por_inversion`
--

/*!50001 DROP VIEW IF EXISTS `kpi_roi_por_inversion`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_0900_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`%` SQL SECURITY DEFINER */
/*!50001 VIEW `kpi_roi_por_inversion` AS select `r`.`Inversion_ID` AS `Inversion_ID`,`i`.`Nombre` AS `Nombre`,round(sum((`r`.`Rendimiento_Monetario` * `tc`.`Tasa`)),2) AS `TOTAL BENEFICIO NETO POR INVERSION (USD)`,round(sum((`i`.`Monto_Inicial` * `tc`.`Tasa`)),2) AS `TOTAL DE INVERSION POR INVERSION (USD)`,round(((sum((`r`.`Rendimiento_Monetario` * `tc`.`Tasa`)) / sum((`i`.`Monto_Inicial` * `tc`.`Tasa`))) * 100),2) AS `ROI %` from ((`rendimientos` `r` join `inversiones` `i` on((`r`.`Inversion_ID` = `i`.`ID`))) join `tasas_cambio` `tc` on((`i`.`Moneda_ID` = `tc`.`Moneda_ID`))) group by `r`.`Inversion_ID` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `kpi_volatilidad_mercado`
--

/*!50001 DROP VIEW IF EXISTS `kpi_volatilidad_mercado`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_0900_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`%` SQL SECURITY DEFINER */
/*!50001 VIEW `kpi_volatilidad_mercado` AS with `volatilidad_mensual` as (select year(`mercado`.`Fecha`) AS `A??o`,month(`mercado`.`Fecha`) AS `Mes`,`mercado`.`Tipo_Indice` AS `Tipo_Indice`,avg(`mercado`.`Volatilidad`) AS `Volatilidad_Media` from `mercado` group by `A??o`,`Mes`,`mercado`.`Tipo_Indice`), `roi_mensual` as (select year(`r`.`Fecha`) AS `A??o`,month(`r`.`Fecha`) AS `Mes`,((sum((`r`.`Rendimiento_Monetario` * `tc`.`Tasa`)) / sum((`i`.`Monto_Inicial` * `tc`.`Tasa`))) * 100) AS `ROI_Promedio`,std(`r`.`Rendimiento_Porcentual`) AS `Desviacion_Rentabilidad` from ((`rendimientos` `r` join `inversiones` `i` on((`r`.`Inversion_ID` = `i`.`ID`))) join `tasas_cambio` `tc` on((`i`.`Moneda_ID` = `tc`.`Moneda_ID`))) group by year(`r`.`Fecha`),month(`r`.`Fecha`)) select str_to_date(concat(`v`.`A??o`,'-',`v`.`Mes`,'-01'),'%Y-%m-%d') AS `Fecha`,`v`.`Tipo_Indice` AS `Tipo_Indice`,`v`.`Volatilidad_Media` AS `Volatilidad_Media`,`r`.`ROI_Promedio` AS `ROI_Promedio`,(((`v`.`Volatilidad_Media` - (select avg(`volatilidad_mensual`.`Volatilidad_Media`) from `volatilidad_mensual`)) * (`r`.`ROI_Promedio` - (select avg(`roi_mensual`.`ROI_Promedio`) from `roi_mensual`))) / ((select std(`volatilidad_mensual`.`Volatilidad_Media`) from `volatilidad_mensual`) * (select std(`roi_mensual`.`ROI_Promedio`) from `roi_mensual`))) AS `Correlacion`,((`r`.`ROI_Promedio` - 3.0) / (select std(`roi_mensual`.`ROI_Promedio`) from `roi_mensual`)) AS `Ratio_Sharpe` from (`volatilidad_mensual` `v` join `roi_mensual` `r` on(((`v`.`A??o` = `r`.`A??o`) and (`v`.`Mes` = `r`.`Mes`)))) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-03-31  2:47:05
