-- MySQL dump 10.13  Distrib 8.0.41, for Linux (x86_64)
--
-- Host: localhost    Database: inversiones_db
-- ------------------------------------------------------
-- Server version	8.0.41

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `Asistencias`
--

DROP TABLE IF EXISTS `Asistencias`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Asistencias` (
  `ID` int NOT NULL AUTO_INCREMENT,
  `Empleado_ID` int NOT NULL,
  `Fecha` date NOT NULL,
  `Hora_Entrada` time NOT NULL,
  `Hora_Salida` time NOT NULL,
  PRIMARY KEY (`ID`),
  KEY `Empleado_ID` (`Empleado_ID`),
  CONSTRAINT `Asistencias_ibfk_1` FOREIGN KEY (`Empleado_ID`) REFERENCES `Empleados` (`ID`)
) ENGINE=InnoDB AUTO_INCREMENT=51 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Asistencias`
--

LOCK TABLES `Asistencias` WRITE;
/*!40000 ALTER TABLE `Asistencias` DISABLE KEYS */;
/*!40000 ALTER TABLE `Asistencias` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Balance_General`
--

DROP TABLE IF EXISTS `Balance_General`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Balance_General` (
  `ID` int NOT NULL AUTO_INCREMENT,
  `Fecha` date NOT NULL,
  `Activos` decimal(15,2) NOT NULL,
  `Pasivos` decimal(15,2) NOT NULL,
  `Patrimonio` decimal(15,2) NOT NULL,
  PRIMARY KEY (`ID`)
) ENGINE=InnoDB AUTO_INCREMENT=51 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Balance_General`
--

LOCK TABLES `Balance_General` WRITE;
/*!40000 ALTER TABLE `Balance_General` DISABLE KEYS */;
/*!40000 ALTER TABLE `Balance_General` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Campanas`
--

DROP TABLE IF EXISTS `Campanas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Campanas` (
  `ID` int NOT NULL AUTO_INCREMENT,
  `Nombre` varchar(255) NOT NULL,
  `Fecha_Inicio` date NOT NULL,
  `Fecha_Fin` date NOT NULL,
  `Presupuesto` decimal(15,2) NOT NULL,
  PRIMARY KEY (`ID`)
) ENGINE=InnoDB AUTO_INCREMENT=51 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Campanas`
--

LOCK TABLES `Campanas` WRITE;
/*!40000 ALTER TABLE `Campanas` DISABLE KEYS */;
/*!40000 ALTER TABLE `Campanas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Canales_Marketing`
--

DROP TABLE IF EXISTS `Canales_Marketing`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Canales_Marketing` (
  `ID` int NOT NULL AUTO_INCREMENT,
  `Nombre` varchar(100) NOT NULL,
  `Tipo` varchar(50) NOT NULL,
  PRIMARY KEY (`ID`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Canales_Marketing`
--

LOCK TABLES `Canales_Marketing` WRITE;
/*!40000 ALTER TABLE `Canales_Marketing` DISABLE KEYS */;
INSERT INTO `Canales_Marketing` VALUES (1,'If','Publicidad'),(2,'Own','TV'),(3,'Effect','Publicidad'),(4,'Per','Publicidad'),(5,'Size','TV'),(6,'Gun','SEO'),(7,'Light','Publicidad'),(8,'Upon','Redes Sociales'),(9,'Poor','Email');
/*!40000 ALTER TABLE `Canales_Marketing` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Capacitaciones`
--

DROP TABLE IF EXISTS `Capacitaciones`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Capacitaciones` (
  `ID` int NOT NULL AUTO_INCREMENT,
  `Nombre` varchar(255) NOT NULL,
  `Fecha` date NOT NULL,
  `Empleado_ID` int NOT NULL,
  PRIMARY KEY (`ID`),
  KEY `Empleado_ID` (`Empleado_ID`),
  CONSTRAINT `Capacitaciones_ibfk_1` FOREIGN KEY (`Empleado_ID`) REFERENCES `Empleados` (`ID`)
) ENGINE=InnoDB AUTO_INCREMENT=51 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Capacitaciones`
--

LOCK TABLES `Capacitaciones` WRITE;
/*!40000 ALTER TABLE `Capacitaciones` DISABLE KEYS */;
/*!40000 ALTER TABLE `Capacitaciones` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Clientes`
--

DROP TABLE IF EXISTS `Clientes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Clientes` (
  `ID` int NOT NULL AUTO_INCREMENT,
  `Nombre` varchar(255) NOT NULL,
  `Correo` varchar(100) NOT NULL,
  `Telefono` varchar(20) DEFAULT NULL,
  `Direccion` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`ID`)
) ENGINE=InnoDB AUTO_INCREMENT=58 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Clientes`
--

LOCK TABLES `Clientes` WRITE;
/*!40000 ALTER TABLE `Clientes` DISABLE KEYS */;
/*!40000 ALTER TABLE `Clientes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Compras`
--

DROP TABLE IF EXISTS `Compras`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Compras` (
  `ID` int NOT NULL AUTO_INCREMENT,
  `Fecha` date NOT NULL,
  `Proveedor_ID` int NOT NULL,
  `Total` decimal(15,2) NOT NULL,
  PRIMARY KEY (`ID`),
  KEY `Proveedor_ID` (`Proveedor_ID`),
  CONSTRAINT `Compras_ibfk_1` FOREIGN KEY (`Proveedor_ID`) REFERENCES `Proveedores` (`ID`)
) ENGINE=InnoDB AUTO_INCREMENT=82 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Compras`
--

LOCK TABLES `Compras` WRITE;
/*!40000 ALTER TABLE `Compras` DISABLE KEYS */;
/*!40000 ALTER TABLE `Compras` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Conversiones`
--

DROP TABLE IF EXISTS `Conversiones`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Conversiones` (
  `ID` int NOT NULL AUTO_INCREMENT,
  `Lead_ID` int NOT NULL,
  `Fecha_Conversion` date NOT NULL,
  `Monto` decimal(15,2) NOT NULL,
  PRIMARY KEY (`ID`),
  KEY `Lead_ID` (`Lead_ID`),
  CONSTRAINT `Conversiones_ibfk_1` FOREIGN KEY (`Lead_ID`) REFERENCES `Leads` (`ID`)
) ENGINE=InnoDB AUTO_INCREMENT=51 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Conversiones`
--

LOCK TABLES `Conversiones` WRITE;
/*!40000 ALTER TABLE `Conversiones` DISABLE KEYS */;
/*!40000 ALTER TABLE `Conversiones` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Detalle_Compras`
--

DROP TABLE IF EXISTS `Detalle_Compras`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Detalle_Compras` (
  `ID` int NOT NULL AUTO_INCREMENT,
  `Compra_ID` int NOT NULL,
  `Producto_ID` int NOT NULL,
  `Cantidad` int NOT NULL,
  `Precio_Unitario` decimal(15,2) NOT NULL,
  PRIMARY KEY (`ID`),
  KEY `Compra_ID` (`Compra_ID`),
  KEY `Producto_ID` (`Producto_ID`),
  CONSTRAINT `Detalle_Compras_ibfk_1` FOREIGN KEY (`Compra_ID`) REFERENCES `Compras` (`ID`),
  CONSTRAINT `Detalle_Compras_ibfk_2` FOREIGN KEY (`Producto_ID`) REFERENCES `Productos` (`ID`)
) ENGINE=InnoDB AUTO_INCREMENT=144 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Detalle_Compras`
--

LOCK TABLES `Detalle_Compras` WRITE;
/*!40000 ALTER TABLE `Detalle_Compras` DISABLE KEYS */;
/*!40000 ALTER TABLE `Detalle_Compras` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Detalle_Ventas`
--

DROP TABLE IF EXISTS `Detalle_Ventas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Detalle_Ventas` (
  `ID` int NOT NULL AUTO_INCREMENT,
  `Venta_ID` int NOT NULL,
  `Producto_ID` int NOT NULL,
  `Cantidad` int NOT NULL,
  `Precio_Unitario` decimal(15,2) NOT NULL,
  PRIMARY KEY (`ID`),
  KEY `Venta_ID` (`Venta_ID`),
  KEY `Producto_ID` (`Producto_ID`),
  CONSTRAINT `Detalle_Ventas_ibfk_1` FOREIGN KEY (`Venta_ID`) REFERENCES `Ventas` (`ID`),
  CONSTRAINT `Detalle_Ventas_ibfk_2` FOREIGN KEY (`Producto_ID`) REFERENCES `Productos` (`ID`)
) ENGINE=InnoDB AUTO_INCREMENT=82 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Detalle_Ventas`
--

LOCK TABLES `Detalle_Ventas` WRITE;
/*!40000 ALTER TABLE `Detalle_Ventas` DISABLE KEYS */;
/*!40000 ALTER TABLE `Detalle_Ventas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Empleados`
--

DROP TABLE IF EXISTS `Empleados`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Empleados` (
  `ID` int NOT NULL AUTO_INCREMENT,
  `Nombre` varchar(255) NOT NULL,
  `Puesto` varchar(100) NOT NULL,
  `Departamento` varchar(100) NOT NULL,
  `Salario` decimal(15,2) NOT NULL,
  PRIMARY KEY (`ID`)
) ENGINE=InnoDB AUTO_INCREMENT=51 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Empleados`
--

LOCK TABLES `Empleados` WRITE;
/*!40000 ALTER TABLE `Empleados` DISABLE KEYS */;
/*!40000 ALTER TABLE `Empleados` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Evaluaciones`
--

DROP TABLE IF EXISTS `Evaluaciones`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Evaluaciones` (
  `ID` int NOT NULL AUTO_INCREMENT,
  `Empleado_ID` int NOT NULL,
  `Fecha` date NOT NULL,
  `Calificacion` decimal(5,2) NOT NULL,
  `Comentarios` text,
  PRIMARY KEY (`ID`),
  KEY `Empleado_ID` (`Empleado_ID`),
  CONSTRAINT `Evaluaciones_ibfk_1` FOREIGN KEY (`Empleado_ID`) REFERENCES `Empleados` (`ID`)
) ENGINE=InnoDB AUTO_INCREMENT=51 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Evaluaciones`
--

LOCK TABLES `Evaluaciones` WRITE;
/*!40000 ALTER TABLE `Evaluaciones` DISABLE KEYS */;
/*!40000 ALTER TABLE `Evaluaciones` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Flujo_Caja`
--

DROP TABLE IF EXISTS `Flujo_Caja`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Flujo_Caja` (
  `ID` int NOT NULL AUTO_INCREMENT,
  `Fecha` date NOT NULL,
  `Nombre_Tabla` enum('Ingresos','Gastos','Ventas','Compras','Gastos_Nomina','Impuestos') NOT NULL,
  `Entradas` decimal(15,2) NOT NULL DEFAULT '0.00',
  `Salidas` decimal(15,2) NOT NULL DEFAULT '0.00',
  `Total` decimal(15,2) NOT NULL DEFAULT '0.00',
  `Ingreso_ID` int DEFAULT NULL,
  `Gasto_ID` int DEFAULT NULL,
  `Venta_ID` int DEFAULT NULL,
  `Compra_ID` int DEFAULT NULL,
  `Gastos_Nomina_ID` int DEFAULT NULL,
  `Impuesto_ID` int DEFAULT NULL,
  PRIMARY KEY (`ID`),
  KEY `Ingreso_ID` (`Ingreso_ID`),
  KEY `Gasto_ID` (`Gasto_ID`),
  KEY `Venta_ID` (`Venta_ID`),
  KEY `Compra_ID` (`Compra_ID`),
  KEY `Gastos_Nomina_ID` (`Gastos_Nomina_ID`),
  KEY `Impuesto_ID` (`Impuesto_ID`),
  CONSTRAINT `Flujo_Caja_ibfk_1` FOREIGN KEY (`Ingreso_ID`) REFERENCES `Ingresos` (`ID`) ON DELETE SET NULL,
  CONSTRAINT `Flujo_Caja_ibfk_2` FOREIGN KEY (`Gasto_ID`) REFERENCES `Gastos` (`ID`) ON DELETE SET NULL,
  CONSTRAINT `Flujo_Caja_ibfk_3` FOREIGN KEY (`Venta_ID`) REFERENCES `Ventas` (`ID`) ON DELETE SET NULL,
  CONSTRAINT `Flujo_Caja_ibfk_4` FOREIGN KEY (`Compra_ID`) REFERENCES `Compras` (`ID`) ON DELETE SET NULL,
  CONSTRAINT `Flujo_Caja_ibfk_5` FOREIGN KEY (`Gastos_Nomina_ID`) REFERENCES `Gastos_Nomina` (`ID`) ON DELETE SET NULL,
  CONSTRAINT `Flujo_Caja_ibfk_6` FOREIGN KEY (`Impuesto_ID`) REFERENCES `Impuestos` (`ID`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=366 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Flujo_Caja`
--

LOCK TABLES `Flujo_Caja` WRITE;
/*!40000 ALTER TABLE `Flujo_Caja` DISABLE KEYS */;
/*!40000 ALTER TABLE `Flujo_Caja` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Gastos`
--

DROP TABLE IF EXISTS `Gastos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Gastos` (
  `ID` int NOT NULL AUTO_INCREMENT,
  `Tipo` varchar(100) NOT NULL,
  `Monto` decimal(15,2) NOT NULL,
  `Fecha` date NOT NULL,
  `Descripcion` text,
  PRIMARY KEY (`ID`)
) ENGINE=InnoDB AUTO_INCREMENT=51 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Gastos`
--

LOCK TABLES `Gastos` WRITE;
/*!40000 ALTER TABLE `Gastos` DISABLE KEYS */;
/*!40000 ALTER TABLE `Gastos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Gastos_Marketing`
--

DROP TABLE IF EXISTS `Gastos_Marketing`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Gastos_Marketing` (
  `ID` int NOT NULL AUTO_INCREMENT,
  `Campana_ID` int NOT NULL,
  `Monto` decimal(15,2) NOT NULL,
  `Fecha` date NOT NULL,
  PRIMARY KEY (`ID`),
  KEY `Campana_ID` (`Campana_ID`),
  CONSTRAINT `Gastos_Marketing_ibfk_1` FOREIGN KEY (`Campana_ID`) REFERENCES `Campanas` (`ID`)
) ENGINE=InnoDB AUTO_INCREMENT=51 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Gastos_Marketing`
--

LOCK TABLES `Gastos_Marketing` WRITE;
/*!40000 ALTER TABLE `Gastos_Marketing` DISABLE KEYS */;
/*!40000 ALTER TABLE `Gastos_Marketing` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Gastos_Nomina`
--

DROP TABLE IF EXISTS `Gastos_Nomina`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Gastos_Nomina` (
  `ID` int NOT NULL AUTO_INCREMENT,
  `Empleado_ID` int NOT NULL,
  `Monto` decimal(15,2) NOT NULL,
  `Fecha` date NOT NULL,
  PRIMARY KEY (`ID`),
  KEY `Empleado_ID` (`Empleado_ID`),
  CONSTRAINT `Gastos_Nomina_ibfk_1` FOREIGN KEY (`Empleado_ID`) REFERENCES `Empleados` (`ID`)
) ENGINE=InnoDB AUTO_INCREMENT=51 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Gastos_Nomina`
--

LOCK TABLES `Gastos_Nomina` WRITE;
/*!40000 ALTER TABLE `Gastos_Nomina` DISABLE KEYS */;
/*!40000 ALTER TABLE `Gastos_Nomina` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Impuestos`
--

DROP TABLE IF EXISTS `Impuestos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Impuestos` (
  `ID` int NOT NULL AUTO_INCREMENT,
  `Tipo` varchar(100) NOT NULL,
  `Monto` decimal(15,2) NOT NULL,
  `Fecha` date NOT NULL,
  PRIMARY KEY (`ID`)
) ENGINE=InnoDB AUTO_INCREMENT=51 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Impuestos`
--

LOCK TABLES `Impuestos` WRITE;
/*!40000 ALTER TABLE `Impuestos` DISABLE KEYS */;
/*!40000 ALTER TABLE `Impuestos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Ingresos`
--

DROP TABLE IF EXISTS `Ingresos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Ingresos` (
  `ID` int NOT NULL AUTO_INCREMENT,
  `Tipo` varchar(100) NOT NULL,
  `Monto` decimal(15,2) NOT NULL,
  `Fecha` date NOT NULL,
  `Descripcion` text,
  PRIMARY KEY (`ID`)
) ENGINE=InnoDB AUTO_INCREMENT=51 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Ingresos`
--

LOCK TABLES `Ingresos` WRITE;
/*!40000 ALTER TABLE `Ingresos` DISABLE KEYS */;
/*!40000 ALTER TABLE `Ingresos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Inventario`
--

DROP TABLE IF EXISTS `Inventario`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Inventario` (
  `ID` int NOT NULL AUTO_INCREMENT,
  `Producto_ID` int NOT NULL,
  `Cantidad_Disponible` int NOT NULL,
  `Ubicacion` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`ID`),
  KEY `Producto_ID` (`Producto_ID`),
  CONSTRAINT `Inventario_ibfk_1` FOREIGN KEY (`Producto_ID`) REFERENCES `Productos` (`ID`)
) ENGINE=InnoDB AUTO_INCREMENT=51 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Inventario`
--

LOCK TABLES `Inventario` WRITE;
/*!40000 ALTER TABLE `Inventario` DISABLE KEYS */;
/*!40000 ALTER TABLE `Inventario` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Leads`
--

DROP TABLE IF EXISTS `Leads`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Leads` (
  `ID` int NOT NULL AUTO_INCREMENT,
  `Nombre` varchar(255) NOT NULL,
  `Correo` varchar(100) NOT NULL,
  `Canal_ID` int NOT NULL,
  `Fecha_Registro` date NOT NULL,
  PRIMARY KEY (`ID`),
  KEY `Canal_ID` (`Canal_ID`),
  CONSTRAINT `Leads_ibfk_1` FOREIGN KEY (`Canal_ID`) REFERENCES `Canales_Marketing` (`ID`)
) ENGINE=InnoDB AUTO_INCREMENT=66 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Leads`
--

LOCK TABLES `Leads` WRITE;
/*!40000 ALTER TABLE `Leads` DISABLE KEYS */;
/*!40000 ALTER TABLE `Leads` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Metodos_Pago`
--

DROP TABLE IF EXISTS `Metodos_Pago`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Metodos_Pago` (
  `ID` int NOT NULL AUTO_INCREMENT,
  `Metodo` varchar(50) NOT NULL,
  `Descripcion` varchar(255) DEFAULT NULL,
  `Codigos` varchar(10) DEFAULT NULL,
  PRIMARY KEY (`ID`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Metodos_Pago`
--

LOCK TABLES `Metodos_Pago` WRITE;
/*!40000 ALTER TABLE `Metodos_Pago` DISABLE KEYS */;
INSERT INTO `Metodos_Pago` VALUES (1,'Tarjeta de Credito','Pago con tarjeta de credito Visa/MasterCard','TDC'),(2,'Tarjeta de Debito','Pago con tarjeta de debito','TDD'),(3,'Efectivo','Pago en efectivo','EFEC'),(4,'Transferencia Bancaria','Transferencia desde una cuenta bancaria','TRANSF'),(5,'PayPal','Pago a traves de PayPal','PAYP'),(6,'Bitcoin','Pago con criptomoneda Bitcoin','BTC');
/*!40000 ALTER TABLE `Metodos_Pago` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Movimientos_Inventario`
--

DROP TABLE IF EXISTS `Movimientos_Inventario`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Movimientos_Inventario` (
  `ID` int NOT NULL AUTO_INCREMENT,
  `Producto_ID` int NOT NULL,
  `Tipo_Movimiento` enum('Entrada','Salida') NOT NULL,
  `Cantidad` int NOT NULL,
  `Fecha` date NOT NULL,
  PRIMARY KEY (`ID`),
  KEY `Producto_ID` (`Producto_ID`),
  CONSTRAINT `Movimientos_Inventario_ibfk_1` FOREIGN KEY (`Producto_ID`) REFERENCES `Productos` (`ID`)
) ENGINE=InnoDB AUTO_INCREMENT=51 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Movimientos_Inventario`
--

LOCK TABLES `Movimientos_Inventario` WRITE;
/*!40000 ALTER TABLE `Movimientos_Inventario` DISABLE KEYS */;
/*!40000 ALTER TABLE `Movimientos_Inventario` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Productos`
--

DROP TABLE IF EXISTS `Productos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Productos` (
  `ID` int NOT NULL AUTO_INCREMENT,
  `Nombre` varchar(255) NOT NULL,
  `Categoria` varchar(100) NOT NULL,
  `Precio` decimal(15,2) NOT NULL,
  `Costo` decimal(15,2) NOT NULL,
  PRIMARY KEY (`ID`)
) ENGINE=InnoDB AUTO_INCREMENT=51 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Productos`
--

LOCK TABLES `Productos` WRITE;
/*!40000 ALTER TABLE `Productos` DISABLE KEYS */;
/*!40000 ALTER TABLE `Productos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Proveedores`
--

DROP TABLE IF EXISTS `Proveedores`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Proveedores` (
  `ID` int NOT NULL AUTO_INCREMENT,
  `Nombre` varchar(255) NOT NULL,
  `Contacto` varchar(100) DEFAULT NULL,
  `Direccion` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`ID`)
) ENGINE=InnoDB AUTO_INCREMENT=20 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Proveedores`
--

LOCK TABLES `Proveedores` WRITE;
/*!40000 ALTER TABLE `Proveedores` DISABLE KEYS */;
/*!40000 ALTER TABLE `Proveedores` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Ventas`
--

DROP TABLE IF EXISTS `Ventas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Ventas` (
  `ID` int NOT NULL AUTO_INCREMENT,
  `Fecha` date NOT NULL,
  `Cliente_ID` int NOT NULL,
  `Total` decimal(15,2) NOT NULL,
  PRIMARY KEY (`ID`),
  KEY `Cliente_ID` (`Cliente_ID`),
  CONSTRAINT `Ventas_ibfk_1` FOREIGN KEY (`Cliente_ID`) REFERENCES `Clientes` (`ID`)
) ENGINE=InnoDB AUTO_INCREMENT=81 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Ventas`
--

LOCK TABLES `Ventas` WRITE;
/*!40000 ALTER TABLE `Ventas` DISABLE KEYS */;
/*!40000 ALTER TABLE `Ventas` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-03-14 23:36:41
